<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ashok IT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
	
		<h2 class="mt-5">Register Here</h2>
		
		<form action="dashboard.html" action="post">
			<table>
				<tr>
					<td>Name:</td>
					<td><input type="text" name="name" required/></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input type="email" name="email" required/></td>
				</tr>
				<tr>
					<td>Phno:</td>
					<td><input type="number" name="phno" required/></td>
				</tr>
				<tr>
					<td>Country:</td>
					<td>
						<select name="country" class="form-select" required>
							<option value="">-Select-</option>
							<option value="india">India</option>
							<option value="usa">USA</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>State:</td>
					<td>
						<select name="state" class="form-select" required>
							<option value="">-Select-</option>
							<option value="india">AP</option>
							<option value="usa">TG</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>City:</td>
					<td>
						<select name="city" class="form-select" required>
							<option value="">-Select-</option>
							<option value="india">GNT</option>
							<option value="usa">ONG</option>
						</select>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Sign-Up" class="btn btn-primary"/></td>
				</tr>
			</table>		
		</form>
		
		Do You Have Account ? <a href="index.html">Sign-In Here</a>
	
	</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>